.board {
  position: relative;
  /* box-shadow: 0px 0px 10px rgba(127, 124, 124, 0.5); */
  box-shadow: 0 0 5px rgba(127, 124, 124, 0.5),
  0 0 25px rgba(127, 124, 124, 0.5),
  0 0 50px rgba(127, 124, 124, 0.5),
  0 0 100px rgba(127, 124, 124, 0.5);
}

.white {
  background-color: rgb(187, 187, 187);
  width: 40px;
  height: 40px;
  font-size: 0.6rem;
  position: relative;
}

.white:hover {
  box-shadow: 0 0 5px rgba(187, 187, 187, 0.5),
  0 0 25px rgba(187, 187, 187, 0.5),
  0 0 50px rgba(187, 187, 187, 0.5),
  0 0 100px rgba(187, 187, 187, 0.5);
}

.green {
  background-color: rgb(0,0,0);
  width: 40px;
  height: 40px;
  font-size: 0.6rem;
  position: relative;
}

.green:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5),
  0 0 25px rgba(0, 0, 0, 0.5),
  0 0 50px rgba(187, 187, 187, 0.5),
  0 0 100px rgba(187, 187, 187, 0.5);
}

.number {
  position: absolute;
  text-align: left;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.letter {
  position: absolute;
  text-align: right;
  margin: 0 0.2rem 0 0;
  padding: 0;
  bottom: 0;
  right: 0;
}

.precount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.random {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  color: azure;
  font-size: 3rem;
  transition: opacity 1s;
}

.fade-out {
  opacity: 0;
}

@media screen and (min-width: 40rem) {
  .white {
    width: 50px;
    height: 50px;
    font-size: 0.75rem;
  }

  .green {
    width: 50px;
    height: 50px;
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 60rem) {
  .white {
    width: 60px;
    height: 60px;
    font-size: 0.9rem;
  }

  .green {
    width: 60px;
    height: 60px;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 70rem) {
  .board {
    margin: 1rem 10rem 1rem 0;
  }

  .white {
    width: 80px;
    height: 80px;
    font-size: 1rem;
  }

  .green {
    width: 80px;
    height: 80px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 20rem) {
  .white {
    width: 30px;
    height: 30px;
    font-size: 0.5rem;
  }

  .green {
    width: 30px;
    height: 30px;
    font-size: 0.5rem;
  }
}
